altgraph==0.17.4
asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.1.4
filelock==3.15.4
gunicorn==23.0.0
idna==3.7
multipledispatch==1.0.0
packaging==24.0
pefile==2023.2.7
pillow==11.1.0
platformdirs==4.2.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==69.5.1
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.2.1
virtualenv==20.26.3
